.galleryimage {
    border-radius: 100%;
    border: 1px dotted black;
    opacity: .7;
}

.galleryimage:hover {
    opacity: 1;
    box-shadow: 0 0 20px black;
}

#galleryimage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}